.container {
  position: relative;
  width: 100vw;
  height: fit-content;
  margin: auto;
  background-color: #9fa786;
}
::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  width: 0 !important;
}
.container {
  overflow: -moz-scrollbars-none;
}
.container {
  -ms-overflow-style: none;
}

.page1 {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.frameButtonArr {
  height: 50%;
  width: 5vw;
}

.radialMenuTabs {
  position: absolute;
  height: 2vw;
  width: 23vw;
  margin-top: -2vw;
  mix-blend-mode: multiply;
}

.radialMenuImg {
  z-index: 2;
  position: absolute;
  opacity: 1;
  background-size: 4vw;
  height: 1.5vw;
  width: 5vw;
  margin-left: 1vw;
  mix-blend-mode: multiply;
  transition: transform 0.25s;
  background: url("../src/img/radialMenuTab.jpg") no-repeat right;
  background-size: cover;
}
.hoverContainer {
  height: 2.5vh;
  width: 5vw;
  transition: transform 0.25s;
  margin-left: 24.5vw;
  padding-left: 1vw;
}
.hoverContainer:hover {
  transform: translateX(1vw);
}

.UIContainer {
  width: 100vw;
  height: 40vw;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}
.UIContainer1 {
  height: 16vw;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.UIContainer2 {
  position: absolute;
  height: 1vw;
  width: 1vw;
  margin: auto;
  position: absolute;
  top: 5vw;
  left: 0;
  bottom: 0;
  right: 0;
}

.headContainer {
  height: 40vw;
  width: 50vw;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.helloWorldImg {
  height: 10vw;
  width: 50vw;
  position: absolute;
  background-size: contain;
  margin-top: -14vh;
  margin-left: 10%;
  background-repeat: no-repeat;
}

.headImg {
  height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  left: -10vw;
  bottom: 0;
  right: 0;
  background-size: contain;
  mix-blend-mode: multiply;
}

.page2 {
  position: relative;
  height: 100vh;
  z-index: 0;
}
.page2Contaner {
  height: 47vw;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #9fa786;
}
.centerpeice {
  height: 70%;
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  opacity: 1;
}

.toastImg {
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100vw;
}
.page2Row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}
.pg2Col1,
.pg2Col2,
.pg2Col3 {
  position: relative;
  width: 33.33%;
  text-align: center;
  z-index: 10;
  height: 20vh;
  color: #111;

  font-family: "Helvetica Neue", sans-serif;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
  height: 100%;
}
.pg2Col1:hover {
  color: #aa66bb;
}
.pg2Col2:hover {
  color: #aa66bb;
}
.pg2Col3:hover {
  color: #aa66bb;
}

.centerPeiceOverlay {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 6;
}
.scrollPrompt {
  position: relative;
}

.scrollImg {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 5vw;
  cursor: pointer;
  z-index: 2;
}
.underlayDiv {
  height: 100%;
}
.page2Underlay {
  margin-top: 8%;
  height: 70%;
  z-index: 1;
  padding-top: 1.5%;
}

.about {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: auto;
  width: 100%;
}
.hello {
  padding: 1vw 3vw 1vw 5vw;
  font-size: 3.3vw;
  font-family: "GTWalsheim", sans-serif;
  line-height: 3.9vw;
  font-weight: bolder;
  height: fit-content;
}

.bioContainer {
  position: relative;
  height: fit-content;
  margin-top: 1.5vw;
}
.bio {
  padding-left: 8vw;
  padding-right: 2vw;
  height: 4vw;
  font-size: 16px;
  margin: auto;
  position: absolute;
  top: 2vw;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: Athene, serif;
  line-height: 25px;
}
.text2Container {
  width: 100%;
  padding-top: 1vw;
  position: relative;
  height: 100%;
}
.text2 {
  height: fit-content;
  width: 30vw;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: "GTWalsheim", sans-serif;
  line-height: 2.5vw;
  font-weight: 600;
  color: antiquewhite;
}
.li1,
.li2,
.li3,
.li4,
.li5,
.li6 {
  margin: 10px;
}

.projectsContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.displayContainer1,
.displayContainer2,
.displayContainer3,
.displayContainer4 {
  width: 50%;
  height: 50%;
  text-align: center;
}
.displayContainer {
  padding-top: 10%;
  position: relative;
  height: 50%;
  width: 100%;
  z-index: 5;
}

.displayImg {
  width: 80%;
  height: 10vw;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.displayUnderlay {
  padding-top: 4vw;
  height: 89.5%;
  width: 100%;
  z-index: 4;
  position: absolute;
  opacity: 0.33;
}
.displayGrid1,
.displayGrid2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 50%;
}

.diplayHeader {
  margin: 0.5vw;
  font-size: 20px;
  font-family: Athene, serif;
  font-weight: bold;
}
.displayDesc {
  font-family: "Lucida Console", "Monaco", monospace;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  margin: auto;
  padding: 5%;
}
a {
  text-decoration: none;
  color: inherit;
}
.text1 {
  margin-top: 1vw;
}
.scrollPrompt {
  position: relative;
  z-index: 1;
}
.pg2ColText {
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: inherit 3px dotted;
}
.contact {
  height: fit-content;
  margin-top: 1vw;
  position: relative;
  display: flex;
  flex-direction: row;
}
.contactTextContainer {
  width: 66.6%;
  position: relative;
}
.contactImg {
  height: 100%;
  width: 33%;
  margin-left: -3vw;
  mix-blend-mode: darken;
  z-index: 1;
}
.contactBio {
  width: 40vw;
  font-family: "Lucida Console", "Monaco", monospace;
  margin: auto;
}
.logoContainer {
  margin-top: 4vw;
  margin-left: 10vw;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  height: fit-content;
  margin: auto;
  position: absolute;
  top: 120%;
  left: 0;
  bottom: 0;
  right: 0;
}
.logoImg {
  height: 2vw;
  margin: 1vw;
  margin-top: 1.4vw;
}
.findMe {
  height: fit-content;
  margin: auto;
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-size: 2.5vw;
  margin-right: 1vw;
}

.testContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 5;
}
.offsetCOntainer {
  position: relative;
}

.onload {
  width: 100vw;
  color: antiquewhite;
  background-color: black;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: sticky;
  position: -webkit-sticky;
  color: white;
}

.uiContainer {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: fit-content;
  width: 100%;
  font-size: 10vw;
  text-align: center;
  font-family: "Lucida Console", "Monaco", monospace;
  opacity: 0.5;
}
.loadingBar {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  background-color: black;
  width: 100%;
  height: 25px;
}
.loadingItem {
  text-align: center;
  margin: auto;
  font-size: 20px;

  width: 200px;
}
.stickyDiv {
  position: sticky;
  top: 0;
  z-index: 12;
  height: 0vw;
}
